/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f1ff;
    
    justify-content: center;
    align-items: flex-start; /* Align items at the top */
    height: 100vh; /* Full-page height */
    overflow-y: auto; /* Allow vertical scrolling */
}

/* Navbar styles */
.navbar {
    display: flex;
    width: 90%;
    background-color: #333;
    padding: 10px;
    justify-content: flex-start;
    position: fixed; /* Keeps the navbar at the top */
    top: 0;
    z-index: 1000;
    margin: 70px 0px 20px 200px;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}
/* Container Styles */
.container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 140px 10px auto 220px; /* Center the container horizontally */
    width: 90%; /* Responsive width */
    max-width: 1050px;
    text-align: center;
}

/* Form heading */
h1 {
    color: #000000;
    margin-bottom: 20px;
}

/* Form styles */
.form-group {
    margin-bottom: 15px;
    margin-right: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%; /* Use full width of the container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border 0.3s;
}

input:focus {
    border: 1px solid #5a2e8a;
    box-shadow: 0 0 5px rgba(90, 46, 138, 0.3);
}

button{
    width: 20%; /* Fixed width for consistency */
    background-color: #5a2e8a;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s;
   
}

button:hover {
    background-color: #743dbb;
}


/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #000000;
}

td {
    background-color: #ffffff;
}

/* Container spacing for table */
.table-container {
    margin-top: 30px; /* Add space between the form and the table */
}
