@import url(ped.css);
/* Table Styles */
.customer-table {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/*---------------- feedbacks-------------------- */
.feedbacks{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    
}

.feedbacks h2{
  color: var(--header-color);
  text-align: left;
  padding-top: 1rem;
  padding-left: 1rem;
}
.row{
    margin: 5%; 
   display: grid;
   justify-content: space-between;
   margin-bottom: 0;
   grid-template-columns: repeat(2,1fr);
   gap: 2%;
   
}

.feed-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-right: 2%;
    text-align: left;
    background:var(--gray-light);
    padding: 25px;
    cursor: pointer;
    display: flex;
    transition: transform 0.9s ease;
    
}

.feed-col:hover {
    transform: scale(1.05); /* Scale the card to 105% on hover */
}

.feed-col img{
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 70%;
    object-fit:cover;
}

.feed-col p{
   color: #777; 
}

.feed-col{
    margin-top: 15px;
    text-align: left;
}

.feed-col .star{
    color:gold;
}

.feedback-date {
    color: #666;
    text-align: right;
    font-size: x-small;

}
