@import url(ped.css);


/* Inventory Type Grid */
.inventory-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.grid-item {
    padding: 2rem;
    transition: transform 0.3s ease;
    background-color: #fff;
    /* background-color: #C8C6D7; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.grid-item:hover {
    transform: translateY(-5px);
}

.grid-item a {
    text-decoration: none;
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-count {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.filter-bar {
    display: flex;
    gap: 10px;
 
}

 select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

/* Inventory Controls */
.inventory-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}


.add-product-btn {
    padding: 0.75rem 1.5rem;
    /* background-color: var(--secondary-color); */
    background-color: #3A124C;
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem; 
     
}


.add-product-btn:hover {
    opacity: 0.9;
}

.buttons {
    display: flex;
    gap: 1rem;
}


/* Table Styles */

.in_table {
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}
.in_table h3 {
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}
.edit-reason .edit-reasonTableTeam{
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}



/* Responsive Design */
@media (max-width: 1024px) {
    .main-content {
        margin-left: 0;
        width: 100%;
    }

    header {
        left: 0;
        width: 100%;
    }

    .inventory-type {
        grid-template-columns: 1fr;
    }
}
.sub-header {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}


