@import url(ped.css);
.container {
    width: 100%;
    margin: 0 auto;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.tab {
    padding: 10px 20px;
    background: #2B124C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tab.active {
    background: #522B5B;
}

.form-section, .display-section {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: none;
}

.form-section.active, .display-section.active {
    display: block;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-btn {
    background: #2B124C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #854F6C;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.user-table th {
    background-color: #f4f4f4;
}

.user-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.filter-section {
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}
h2{
    margin-bottom: 1rem;
}