body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 100%;
    background-color:  #D8BFD8;

    border-radius: 10px;
    overflow: hidden;
    height: 100vh;
    margin-left: 230px;
  }
  

  
  .user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .breadcrumb {
    padding: 15px 20px;
    font-size: 0.9rem;
    color: #555;
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #007bff;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }
  
  .form-section {
    width: 100%;  
    margin-top: 40px;
    padding: 20px;
    height: 100vh;
  }
  
  .form-section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
    
  }
  
  .form-section p {
    margin-bottom: 20px;
    color: #666;
  }
  
  .request-form .form-group {
    margin-bottom: 15px;
  }
  
  .request-form label {
    display: block;
    font-size: 0.95rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .request-form input,
  .request-form textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: white;
  }
  
  .request-form input:focus,
  .request-form textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .submit-button {
    background-color: #9B59B6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #9B59B6;

  }
  