    /* styles.css */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }
    
    body
    {
        background-color: #f4f7fb;
    
    }
    
    
    .container {
        display: flex;
        min-height: 100vh;
    }
    
    .sidebar {
        width: 250px;
        background-color: #eef2f7;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    
    .sidebar nav ul {
        list-style-type: none;
        width: 100%;
    }
    
    .sidebar nav ul li a {
        text-decoration: none;
        color: #333;
        display: block;
        padding: 10px;
        border-radius: 5px;
        font-weight: 500;
    }
    
    .sidebar nav ul li a.active,
    .sidebar nav ul li a:hover {
        background-color: #dde6f2;
    }
    
    .new-request-btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    
    
    .main-content {
        flex: 1;
        padding: 20px;
        margin-left: 230px;
        margin-top: 10px;
    }
    
    .main-content h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }
    
    .inventory-table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    
    .inventory-table thead {
        background-color: #f4f4f4;
        font-weight: 600;
    }
    
    .inventory-table th,
    .inventory-table td {
        padding: 15px;
        text-align: left;
        color: #555;
    }
    
    .inventory-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    
    .status {
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        color: #fff;
    }
    
    .status.pending {
        background-color: #9370DB;
    }
    
    .status.approved {
        background-color: #4B0082;
    }
    
    .status.in-progress {
        background-color: #D8BFD8;
    }
    
    .status.declined {
        background-color: #800080;
    }
    
    
    h2{
        font-size: 24px;
        margin: 20px;
    }