* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
   
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: row; /* Default for larger screens */
    
}

.left-side {
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: #280b27;
}

.left-side::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(40, 11, 39, 0.5),rgba(40, 11, 39, 1));
    z-index: 1;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


.quote {
    position: relative;
    color:#cdb5cc;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    padding: 100px;
}

.right-side {
    flex: 1;
    background-color: #f4f4f9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-color:#280b27;
    
}


.login-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.logo {
    max-width: 150px;
    height: auto;
    margin: 0 auto 20px;
}

.login-box h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
}

.login-box label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-bottom: 15px;
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-box button {
    width: 50%;
    padding: 10px;
    background-color: #3e0a3c;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-box button:hover {
    background-color: #280b27;
}

.register {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #333;
}

.register a {
    color: #002d5b;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

.transparent {
    width: 100%;
    height: auto;
    opacity: 0.7;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
   

    .quote {
        padding: 300px 20px; /* Adjust padding */
        font-size: 1.2rem; /* Reduce font size */
    }

    .login-box {
        max-width: 90%; /* Allow more width on smaller screens */
        padding: 15px; /* Adjust padding */
    }

    .login-box h1 {
        font-size: 1.5rem; /* Reduce title font size */
    }

    .login-box button {
        width: 70%; /* Increase button width */
    }
} 

@media (max-width: 480px) {
    .container {
        flex-direction: column; /* Stack on smaller screens */
     } 
    .quote {
        padding: 200px 80px; /* Further adjust padding */
        font-size: 1rem; /* Further reduce font size */
    }

    .login-box h1 {
        font-size: 1.3rem; /* Further reduce title font size */
    }

    .login-box input {
        padding: 8px; /* Adjust input padding */
    }

    .login-box button {
        width: 100%; /* Full-width buttons on very small screens */
    }
    .left-side {
        max-width: 100%;
        max-height: 10%;
    }
    
}
